.content-home{
    background-image: url("./../../asset/backgroundHome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200vh;
    margin-top: -5%;
    display: flex;
    padding-top: 140px;
}

.left-side-home-close{
    width: 14%;
}

.left-side-home-open{
    width: 0%;
}

.center-side-home{
    width: 100%;
}

.right-side-home{
    width: 100px;
}

.right-side-home-close{
    width: 40%;
}

.right-side-home-open{
    width: 0%;
}


.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    margin-top: 5%;
    }
    
    

